@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.title {
    font-size: 30px !important;
    
font-style: normal;
font-weight: bold;
    text-align: left;
    /* font-family: 'Ubuntu' !important; */
}

.font-family{
  font-family: 'Work Sans Pro', sans-serif;
}

.number{
    font-size: 12px !important;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: left;
    /* font-family: 'Ubuntu' !important; */
}

.text-align{
    text-align: left;
}

.text-align-center{
  text-align: center
}

.font-size-12{
    font-size: 12px;
}

.link-earned-total-title{
    font-size: 12px !important;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: left;
    /* font-family: 'Ubuntu' !important; */
    font-weight: 700;
}

.about-border {
    display: block;
    width: 15rem;
    height: 1px;
    position:absolute;
    background: #000000;
    margin: 20px 0px 0px 10px;
}

.top-border{
    display: block;
    width: 100%;
    height: 5px;
    background: #000000;
    margin: 0px 0px 0px 0px;
}

.subscription-border{
    display: block;
    width: 100%;
    height: 2px;
    background: #000000;
    margin: 0px 0px 0px 0px;
}

.position-relative{
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th{
    text-align: left !important;
    background-color: #000000;
    color: #ffffff;
  }

  .before-logo-text{
    /* font-family: Work Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: grey;
  }

  .chartbox-background{
    background-color: #8080804a;
    padding:25px
  }

  .text-align-center{
    text-align: center !important;
  }

  .gas-expense-chart-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px !important;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Ubuntu' !important; */
    font-weight: 900;
  }